html,body{
    width: 100%;
}
body {
    min-width: 320px;
    height: 100%;
    line-height: 23px;
    font-size: 11px;
    color: #888888;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: url(../img/bg-top-main.png) no-repeat 50% 39px #171717;
}

